@font-face {
	font-family: custom;
	src: url(assets/Nunito/static/Nunito-Light.ttf)
}

@font-face {
	font-family: custom-medium;
	src: url(assets/Nunito/static/Nunito-Medium.ttf)
}

@font-face {
	font-family: montserrat-light;
	src: url(assets/Montserrat/static/Montserrat-Light.ttf)
}

@font-face {
	font-family: montserrat-thin;
	src: url(assets/Montserrat/static/Montserrat-Thin.ttf)
}


@font-face {
	font-family: montserrat-medium;
	src: url(assets/Montserrat/static/Montserrat-Medium.ttf)
}

body {
	font-family: montserrat-light;
	color: white;
	background-color: #efbc23;
	margin: 0;
}

.container {
	background-color: #060606;
	background: linear-gradient(0deg, rgba(228,255,0,1) -50%, rgba(255,87,87,1) 100%);
	#background-image: url(assets/dark.png);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	height: 100%;
}

.title {
	width: 50%;
	background-color: #121212;
	border-radius: 0.125em;
	font-family: montserrat-thin;
	#font-family: Courier New;
	font-size: 4.15vw;
	#font-size: 5em;
	text-align: center;
	margin: auto;
	margin-bottom: 15px;
	margin-top: 20px;
}

.navbar {
	font-family: montserrat-medium;
	background-color: #121212;
	border-radius: 10px;
	width: 27.5%;
	padding: 10px;
	text-align: center;
	margin: auto auto 20 auto;
	box-shadow: 2px 5px 5px black;
	height: auto;
}

.navbar li {
	display: inline-block;
	font-size: 2em;
	margin: 0 15 0 15;
}

.navbar a:link { text-decoration: none; }
.navbar a:visited { text-decoration: none; }
.navbar a:hover {
	text-decoration: none;
	background-color: #222;
	border-radius: 10px;
	}
.navbar a:active { text-decoration: none; }

.navbar a {
	color: #999;
	padding: 5 8 5 8;
}

.welcome {
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	font-family: montserrat-medium;
	margin: auto 0;
}

p {
	text-align: center;
}

.main {
	border-radius: 0.35em;
	#border-style: solid;
	#border-color: #363636;
	#box-shadow: 2px 5px 5px black;
	background-color: #121212;
	margin: 0 15 20 20;
	padding: 40 40 40 40;
	font-size: 1.8em;
	#height: 10000vh;
}

.links {
	display: flex;
	text-align: center;
	flex-direction: column;
	border-radius: 10px;
	border-color: yellow;
	box-shadow: 2px 5px 5px black;
	background-color: #121212;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 1.8em;
	width: fit-content;
}

.vidcont {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.video {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #222;
	text-align: left;
	border: solid, 4px, orange;
	border-radius: 0.35em;
	box-shadow: 2px 5px 5px black;
	#padding: 6px;
	margin: 10 20 0 0;
	flex-wrap: wrap;
	width: fit-content;
}

.buttoncont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: 10px;
	gap: 3%;
}

.button {
	color: white;
}

.button a:link { text-decoration: none; }
.button a:visited { text-decoration: none; }
.button a:hover {
	background-color: #888;
}
.button a:active { text-decoration: none; }

.button a {
	display: flex;
	align-items: center;
	color: #060606;
	background-color: white;
	padding: 5 15 5 15;
	border-radius: 10px;
	font-family: montserrat-light;
	font-weight: bold;
	font-size: 24px;
	width: fit-content;
}

.button a img {
	display: flex;
	align-items: center;
	padding: 0 8 0 0;
	height: 30px;
}

#red a {
	background-color: #990000;
	color: white;
}

#purple a {
	background-color: #462d73;
	color: white;
}

#yellow a {
	background-color: yellow;
}

#pink a {
	background-color: #f062a1;
  color: white;
}


#red a:hover {
	background-color: #660000;
}

#purple a:hover {
	background-color: #342256;
}

#yellow a:hover {
	background-color: #b2b300;
}

#pink a:hover {
  background-color: #ed4a93;
}

#.copyright {
#	border-radius: 10px;
#	border-color: yellow;
#	box-shadow: 2px 5px 5px black;
#	background-color: #121212;
#	color: #999;
#	font-size: 1.2em;
#	text-align: center;
#	width: 25%;
#	padding: 5 0 5 0;
#	line-height: 1.4;
#	margin: 30 auto 0 auto;
#}


.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #121212;
	padding: 10 0 10 0;
	margin-top: auto;
}
